body{
    background-image: url("Images/RedditBackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.Container{
    background-color: white;
    opacity: 0.8;
    margin-top: 25px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: static;
    padding: 25px;
}

div.Container2{
    margin-top: 25px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: static;
    padding: 25px;
}

img{
    height: 50%;
    width: 50%;
}

td, th {
    padding-left: 50px;
}

Post{
    width: 250px;
    float: right;
    background-color: white;
    opacity: 0.8;
    margin-top: 25px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: static;
    padding: 25px;
}

div.NavButton{
    margin-top: 25px; 
    float: left;
    width: 250px;
}

div.UPost{
    background-color: aliceblue;
    color:black;
    margin-top: 25px;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 400%;
    text-align: center;
    background-color: aliceblue;
    width: 1071px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 200%;
}

a.post{
    color: black;
}

a{
    text-decoration: none;    
    color: white;
}


a:hover{
    text-decoration: none;
}



p{
    padding-left: 15px;
}


 label{
    float: left;
    text-align: left;
    width:200px;
}

input[type="submit"]
{
    width: 100px;
    position: relative;
    top: 20px;
    left: 200px;

}

div.Form{
    background-color: white;
    opacity: 0.8;
    margin-top: 25p;
}

div.FormContent{
    margin-left: 25px;
    padding-bottom: 25px;
}